services:
  app:
    build:
      context: .
      args:
        USER_ID: ${USER_ID:-82}
        GROUP_ID: ${GROUP_ID:-82}
    container_name: pulse_app
    restart: unless-stopped
    volumes:
      - .:/var/www
    healthcheck:
      test: ['CMD-SHELL', 'curl -f http://web:80/up || exit 1']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 120s
    networks:
      - app-network

  web:
    build:
      context: .
    container_name: pulse_web
    restart: unless-stopped
    entrypoint: ['/web-entrypoint.sh']
    ports:
      - '${APP_PORT:-80}:80'
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - .:/var/www
    depends_on:
      - app
    networks:
      - app-network

  scheduler:
    build:
      context: .
      args:
        USER_ID: ${USER_ID:-82}
        GROUP_ID: ${GROUP_ID:-82}
    container_name: pulse_scheduler
    restart: unless-stopped
    entrypoint: ['/scheduler-entrypoint.sh']
    volumes:
      - .:/var/www
    depends_on:
      - app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
